html,body{
    padding: 0;     
    margin: 0;     
    width: 100%;
    background-image: url("fondo.png");
    background-size: cover;
}
div,section,article,nav{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.top{
    width: 100%;
    height: 200px;
}
.idioma{
    width: 40%;
    height: 70px;
}
.language{
    font-size: 25px;
    margin-left: 10px;
    display: inline-block;
    font-weight: bolder;
}
.buscador{
    width: 14%;
    height: 70px;
    text-align: right;
}
.buscador2{
    float: right;
    margin-top: 30px;
}
.lupa{
    width: 20px;
    margin-top: 25px;
    margin-right: 5px;
}
.principal{
    text-align: center;
    margin-top: 25px;
}
.logo{
    width: 10%;
    height: 150px;
}
.florida{
    width: 100%;
    height: 160px;
}
.titulo{
    width: 36%;
    height: 100px;
    margin-top: 35px;
}
.homepage{
    font-size: 70px;
    text-align: center;
    display: contents;
    font-family: fantasy;
}
.tablas{
    text-align: center;
    margin-top: 95px;
}
.conciertos{
    width: 40%;
    height: 250px;
    margin-right: 50px;
}
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: center;
}
table.tablaConcierto tr:nth-child(even) {
    background-color: #eee;
}
table.tablaConcierto tr:nth-child(odd) {
    background-color: #fff;
}
table.tablaConcierto th {
    background-color: #006666;
    color: white;
}
.musicos{
    width: 40%;
    height: 300px;
    margin-left: 50px;
}
table.tablaMusicos tr:nth-child(even) {
    background-color: #eee;
}
table.tablaMusicos tr:nth-child(odd) {
    background-color: #fff;
}
table.tablaMusicos th {
    background-color: #006666;
    color: white;
}
.loginRegist{
    display: inline-block;
    width: 43%;
    vertical-align: top;
}
.login{
    width: 43%;
    height: 200px;
    float: right;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bolder;
}
.registrarse{
    width: 20%;
    height: 200px;
    float: right;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
.banner{
    width: 100%;
    height: 250px;
    background-color: #595959;
    margin-top: 60px;
}
.d1{
    width: 29%;
    height: 200px;
    margin-left: 40px;
}
.tituloF{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 27px;
    color: #7eccb3;
}
.info{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    color: white;
}
.apps2{
    width: 55px;
    height: 55px;
    margin-top: 5px;
}
.apps{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
.imgApps{
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1265px) and (min-width:600px){
    .principal{
        text-align: center;
        margin-top: 90px;
    }
    .titulo{
        display: table-cell;
    }
    .logo{
        width: 140px;
        height: 160px;
    }
    .florida{
        width: 140px;
        height: 160px;
    }
    .lupa{
        width: 20px;
        margin-top: 25px;
        margin-right: 5px;
    }
    .buscador{
        width: 21%;
        height: 70px;
        text-align: right;
    }
    .loginRegist{
        display: inline-block;
        width: 25%;
        vertical-align: top;
    }
    .tablas {
        text-align: center;
        margin-top: 25px;
    }
    .locales{
        width: 70%;
        height: 305px;
        margin-right: 0px;
        margin-top: 140px;
    }
    .conciertos {
        width: 70%;
        height: 305px;
        margin-right: 0px;
        margin-top: 140px;
    }
    .musicos{
        width: 70%;
        height: 300px;
        margin-left: 0px;
    }
    .d1{
        width: 25%;
        height: 200px;
        margin-left: 40px;
    }
}
