body{
    background-image: url("fondo.png");
    background-size: cover;
}
.tab{
    width: 90%;
    height: 400px;
    margin-left: 10%;
    margin-top: 3%;
}      
.text{
    font-size: 25px;
    font-weight: bolder;
}

table {
    width:75%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table.tablaMusico tr:nth-child(even) {
    background-color: #eee;

}
table.tablaMusico tr:nth-child(odd) {
    background-color: #fff;

}
table.tablaMusico th {
    background-color: #006666;
    color: white;
}
table.tablaMusicos tr:nth-child(even) {
    background-color: #eee;

}
table.tablaMusicos tr:nth-child(odd) {
    background-color: #fff;

}
table.tablaMusicos th {
    background-color: #006666;
    color: white;
}

