html,body{
    padding: 0;     
    margin: 0;     
    width: 100%;
    background-image: url("fondo.png");
    background-size: cover;
}
div,section,article,nav{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.tabla{
    width: 75%;
    height: 400px;
    margin-left: 10%;
    margin-top: 3%;
}
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table.tablaConcierto tr:nth-child(even) {
    background-color: #eee;
}
table.tablaConcierto tr:nth-child(odd) {
    background-color: #fff;
}
table.tablaConcierto th {
    background-color: #006666;
    color: white;
}
.text{
    font-size: 25px;
    font-weight: bolder;
}
.crear{
    width: 25%;
    height: 360px;
    margin-left: 10%;
}
.borrar{
    width: 25%;
    height: 360px;
    margin-left: 20%;
}

