html,body{
    padding: 0;     margin: 0;     width: 100%;
    background-image:url("fondo.png") ;
}
div,section, article, nav{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.div1{
    width: 300px;
    height: 300px;
    margin-left: 13%;
    background-color: white;
}
.divimg{
    width: 300px;
    height: 300px;
    margin-left: 25%;
    margin-top: 10px;
}
.div2{
    width: 300px;
    height: 300px;
    margin-left: 13%;
    margin-top: 10px;
    background-color: white;
}
.div3{
    width: 300px;
    height: 150px;
    margin-left: 25%;
    background-color: white;
}
h2{
    text-align: center;
    font-family: arial;
}
